.input-message {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color: #f7f7f7;
    padding: 10px 5px 10px 20px;
    display: flex;

    &__input {
        margin-right: 10px
    }

    &__button {
        margin-left: auto;
    }
}